.gender-custom-btn {
  color: $themeColor;
  width: 9.7em;
  height: 6.3em;
  font-weight: lighter;
  transition: all 0.25s;
  box-sizing: border-box;
  svg {
    transition: fill 0.25s;
  }

  &.selected {
    color: $hoveredButton;
    font-weight: 700;
    border-color: $hoveredButton;
    svg {
      fill: $hoveredButton;
    }
  }

  &:hover {
    color: $hoveredButton;
    font-weight: 700;
    border-color: $hoveredButton;
    svg {
      fill: $hoveredButton;
    }
  }
}

.btn-check:checked ~ label {
  color: $hoveredButton;
  font-weight: 700;
  border-color: $hoveredButton;
  svg {
    fill: $hoveredButton;
  }
}

@media screen and (max-width: 1200px) {
  .gender-custom-btn {
    width: 8em;
    height: 5em;
  }
}

@media screen and (max-width: 992px) {
  .gender-custom-btn {
    width: 5.6em;
    height: 5em;
  }
}
