.password {
  .custom-form-control {
    border-width: 1px 0 1px 1px;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
  }
  .input-group-text {
    border-width: 1px 1px 1px 0;
    background-color: white;
    width: 50px;
    &.show {
      background: url("../svg/eye.svg") 0 15px no-repeat;
    }
    &.normal {
      border-color: $borderDark;
    }
    &.active {
      border-color: $active;
    }
    &.error {
      border-color: $failed;
    }
  }
}

@media screen and (max-width: 576px) {
  .password {
    .input-group-text {
      &.show {
        background-position: 8px;
      }
    }
  }
}
